# ===========================================
# FLAKE8 CONFIGURATION
# ===========================================

[flake8]
max-line-length = 88
extend-ignore = 
    E203,
    E501,
    W503,
    F401
exclude = 
    .git,
    __pycache__,
    .venv,
    venv,
    .tox,
    .eggs,
    *.egg,
    build,
    dist,
    .github
max-complexity = 15
per-file-ignores =
    __init__.py:F401