apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    uid: prometheus
    isDefault: true
    editable: true

  - name: PostgreSQL
    type: postgres
    access: proxy
    url: postgres:5432
    database: airflow
    user: postgres
    uid: postgres
    isDefault: false
    editable: true
    jsonData:
      sslmode: "disable"
      postgresVersion: 1500
      timescaledb: false
      maxOpenConns: 100
      maxIdleConns: 2
      connMaxLifetime: 14400
    secureJsonData:
      password: "postgres"

  - name: TestData
    type: testdata
    access: proxy
    uid: testdata
    editable: true